#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        Volume_Mute: Volume_Mute {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT &kp F1>;
            label = "VOLUME_MUTE";
        };

        Volume_Down: Volume_down {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT &kp F2>;
            label = "VOLUME_DOWN";
        };

        Volume_Up: Volume_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT &kp F3>;
            label = "VOLUME_UP";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_1 {
            bindings = <
&kp C_MUTE           &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp LG(LS(S))
&kp LC(N)            &kp F13            &kp F14          &kp F15
&kp RC(RIGHT_SHIFT)  &kp F16            &kp F17          &kp F18
&kp LC(LS(T))        &kp F19            &kp F20          &kp F21
&kp LG(RS(LEFT))     &kp LG(HOME)       &kp LG(D)        &kp LG(LS(RIGHT))
            >;
        };
    };
};
